<div class="email-verification-container">
    <div class="verification-card">
      <h1 class="header-title">Verify Your Email</h1>
      <p>
        Your email address has not been verified yet. Please check your inbox! Some features may be limited until you verify your email.
      </p>
    
      <div class="actions">
        <button (click)="resendVerificationEmail()" mat-stroked-button color="secondary">
          Resend Email
        </button>
        
        <button *ngIf="showProceedToSite" (click)="proceedToSite()"mat-flat-button color="warn">
            Proceed to Site
        </button>
      </div>
    </div>
  </div>
  