.user-register-form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    text-align: center;;

    .google-btn-label-container {
        display: flex; 
        justify-content: space-around; 
        width: 200px;    
    }

    .password-rules-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;  // Creates a 2x2 grid
      
        .password-rule {
          display: flex;
          align-items: center;
      
          p {
            margin-left: 8px;
            font-size: 0.7rem;
          }
      
          .valid {
            color: #4caf50;  // Green for valid rules
            padding: 7px;
          }
      
          .invalid {
            color: #f44336;  // Red for invalid rules
            padding: 7px;
          }
        }
      }
      
      

    mat-form-field {
        width: 100%;
        margin-top: 5px;
      }
      
      button {
        width: 100%;
        margin-top: 10px;
      }
      
      .divider {
        text-align: center;
        margin: 20px 0;
        font-weight: bold;
        color: #777;
      }
      
      .divider span {
        padding: 0 10px;
        position: relative;
        top: -10px;
      }
      
      .google-button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        font-weight: bold;
      }
      
      mat-icon {
        width: 24px;
        height: 24px;
      }
  }
  

  