<div class="register-stepper-container">
    <header *ngIf="!registerCompleted" class="page-header">
      <h1 class="page-header-title">Sign Up and Get Started</h1>
      <mat-divider></mat-divider>
      <p class="page-header-subtitle">Create an account to manage your ranch and set up your first deer.</p>
    </header>

    <div *ngIf="loading" class="step-spinner-container">
      <mat-progress-bar mode="query"></mat-progress-bar>
    </div>

    <app-user-create 
      *ngIf="!registerCompleted"
      [showGoogleSignIn]="true"
      (formSubmitted)="handleFormSubmit($event)"
      (googleSignIn)="handleGoogleSignIn()">
    </app-user-create>

    <app-confirmation 
      *ngIf="registerCompleted"
      [title]="'Congrats!'" 
      [buttonLabel]="'Login'" 
      [subTitle]="'Thanks for signing up, next step is to login, add ranch, and start showcasing your herd'"
      [buttonRoute]="'/sign-in'">
    </app-confirmation>
  </div>
  
  <app-footer></app-footer>
  