<footer class="footer">
    <div class="footer-content">
      <p>&copy; {{ currentYear }} CWD Breeding. All Rights Reserved.</p>
      <!-- <img class="footer-logo" src="https://firebasestorage.googleapis.com/v0/b/cwd-breeding.appspot.com/o/logos%2FDW%20logo-111.png?alt=media&token=45d1fb68-7b13-42f4-bbd4-31c73d20acd4" alt="CWD Breeding Logo" /> -->
      <nav class="footer-nav">
        <a class="pointer" routerLink="/privacy-policy">Privacy Policy</a>
        <a class="pointer" routerLink="/terms-of-service">Terms of Service</a>
        <a class="pointer" routerLink="/contact">Contact</a>
      </nav>
    </div>
</footer>
  