
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$cwd-breeding-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
    use-system-variables: true, // 👈 Added
  ),
  density: (
    scale: 0,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($cwd-breeding-theme);
  @include mat.system-level-colors($cwd-breeding-theme); // 👈 Added
  @include mat.system-level-typography($cwd-breeding-theme); // 👈 Added
}
:root,:host{--sys-background:#f5fafd;--sys-on-background:#171c1f;--sys-surface:#f5fafd;--sys-surface-dim:#d6dbde;--sys-surface-bright:#f5fafd;--sys-surface-container-lowest:#ffffff;--sys-surface-container-low:#f0f4f8;--sys-surface-container:#eaeef2;--sys-surface-container-high:#e4e9ec;--sys-surface-container-highest:#dee3e6;--sys-on-surface:#171c1f;--sys-surface-variant:#dce4e8;--sys-on-surface-variant:#40484c;--sys-inverse-surface:#2c3134;--sys-inverse-on-surface:#edf1f5;--sys-outline:#70787c;--sys-outline-variant:#bfc8cc;--sys-shadow:#000000;--sys-scrim:#000000;--sys-surface-tint:#07677f;--sys-primary:#07677f;--sys-on-primary:#ffffff;--sys-primary-container:#b7eaff;--sys-on-primary-container:#004e61;--sys-inverse-primary:#88d1ec;--sys-secondary:#02677d;--sys-on-secondary:#ffffff;--sys-secondary-container:#b3ebff;--sys-on-secondary-container:#004e5f;--sys-tertiary:#555992;--sys-on-tertiary:#ffffff;--sys-tertiary-container:#e0e0ff;--sys-on-tertiary-container:#3e4278;--sys-error:#904a43;--sys-on-error:#ffffff;--sys-error-container:#ffdad5;--sys-on-error-container:#73342d;--sys-neutral:#73787b;--sys-neutral-variant:#70787c;--sys-primary-fixed:#b7eaff;--sys-primary-fixed-dim:#88d1ec;--sys-on-primary-fixed:#001f28;--sys-on-primary-fixed-variant:#004e61;--sys-secondary-fixed:#b3ebff;--sys-secondary-fixed-dim:#86d1ea;--sys-on-secondary-fixed:#001f27;--sys-on-secondary-fixed-variant:#004e5f;--sys-tertiary-fixed:#e0e0ff;--sys-tertiary-fixed-dim:#bec2ff;--sys-on-tertiary-fixed:#11144b;--sys-on-tertiary-fixed-variant:#3e4278;--sys-inverse-secondary:#86d1ea;--sys-inverse-tertiary:#bec2ff;--sys-inverse-error:#ffb4ab;--sys-error-fixed:#ffdad5;--sys-error-fixed-dim:#ffb4ab;--sys-on-error-fixed:#3b0907;--sys-on-error-fixed-variant:#73342d;}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($cwd-breeding-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($cwd-breeding-theme);
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.header-title {
  font-weight: 300;
}

.divider-80 {
  margin: 0 auto;
  width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
}

.pointer {
  cursor: pointer;
}


:root,:host{--sys-background:#f5fafd;--sys-on-background:#171c1f;--sys-surface:#f5fafd;--sys-surface-dim:#d6dbde;--sys-surface-bright:#f5fafd;--sys-surface-container-lowest:#ffffff;--sys-surface-container-low:#f0f4f8;--sys-surface-container:#eaeef2;--sys-surface-container-high:#e4e9ec;--sys-surface-container-highest:#dee3e6;--sys-on-surface:#171c1f;--sys-surface-variant:#dce4e8;--sys-on-surface-variant:#40484c;--sys-inverse-surface:#2c3134;--sys-inverse-on-surface:#edf1f5;--sys-outline:#70787c;--sys-outline-variant:#bfc8cc;--sys-shadow:#000000;--sys-scrim:#000000;--sys-surface-tint:#07677f;--sys-primary:#07677f;--sys-on-primary:#ffffff;--sys-primary-container:#b7eaff;--sys-on-primary-container:#004e61;--sys-inverse-primary:#88d1ec;--sys-secondary:#02677d;--sys-on-secondary:#ffffff;--sys-secondary-container:#b3ebff;--sys-on-secondary-container:#004e5f;--sys-tertiary:#555992;--sys-on-tertiary:#ffffff;--sys-tertiary-container:#e0e0ff;--sys-on-tertiary-container:#3e4278;--sys-error:#904a43;--sys-on-error:#ffffff;--sys-error-container:#ffdad5;--sys-on-error-container:#73342d;--sys-neutral:#73787b;--sys-neutral-variant:#70787c;--sys-primary-fixed:#b7eaff;--sys-primary-fixed-dim:#88d1ec;--sys-on-primary-fixed:#001f28;--sys-on-primary-fixed-variant:#004e61;--sys-secondary-fixed:#b3ebff;--sys-secondary-fixed-dim:#86d1ea;--sys-on-secondary-fixed:#001f27;--sys-on-secondary-fixed-variant:#004e5f;--sys-tertiary-fixed:#e0e0ff;--sys-tertiary-fixed-dim:#bec2ff;--sys-on-tertiary-fixed:#11144b;--sys-on-tertiary-fixed-variant:#3e4278;--sys-inverse-secondary:#86d1ea;--sys-inverse-tertiary:#bec2ff;--sys-inverse-error:#ffb4ab;--sys-error-fixed:#ffdad5;--sys-error-fixed-dim:#ffb4ab;--sys-on-error-fixed:#3b0907;--sys-on-error-fixed-variant:#73342d;}